
myapp/gen/com/example/myapp/R.java

myapp/gen/com/example/myapp/Manifest.java

myapp/gen/com/example/myapp/BuildConfig.java

myapp/.idea/.name

myapp/.idea/compiler.xml

myapp/.idea/copyright/profiles_settings.xml

myapp/.idea/encodings.xml

myapp/.idea/misc.xml

myapp/.idea/modules.xml

myapp/.idea/scopes/scope_settings.xml

myapp/.idea/uiDesigner.xml

myapp/.idea/vcs.xml

myapp/.idea/workspace.xml
